
.all-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dumpling-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin-bottom: 1rem;
}

#scallion-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin-bottom: 1rem;
}
