
/* Imports */
@import "nav-bar.css";

/* Global */
* {
    box-sizing: border-box;
}

/* Header */
a {
    text-decoration: none;
    color: none;
}
/*@media (min-width: 768px,  ){

}*/
body {
    padding: 1em;
    margin: 25px;
    border: 5px solid yellow;
    /*background: #f4a261;*/
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: large;
    width: 90%;
    height: 100fr;
    align-content: center;
    justify-content: center;
}

figcaption {
  text-align: center;
  margin-bottom: 1rem;
}

header {
    grid-area: head;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 0;
    background-image: url('../images/badlands-slim.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    object-fit: contain;
}

img {
  margin-top: 1rem;
}


#pagetitle {
    font-family: cursive;
    font-stretch: extra-expanded;
    font-size: 3.5rem;
    color: #a6f6f1;
    text-shadow: 2px 2px #000;
}

#pagetagline {
  font-size: 2.0rem;
  color: #a6f6f1;
  text-shadow: 2px 2px #000;
}

.grid-container {
    box-sizing: border-box;
    border-color: darkred;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35vh 7vh 1fr 7vh;
    grid-gap: 1vh;
    grid-template-areas:
        "head head"
        "nav sidebar"
        "ct sidebar"
        "ft ft";
    margin: 0vh;
    line-height: normal;
    padding: 10px;
    width: 100%;
    height: auto;
    align-content: center; /*Main axis*/
    justify-content: center; /*Cross axis*/
}

article {
  display: flex;
  flex-direction: column;
}

/* Footer Styling */
.footer {
    background-color: #e76f51;
    grid-area: ft;
    border: 2px solid #2a9d8f;
}

.content {
    grid-area: ct
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(225deg, #264653, 10%, lightgreen, #a6f6f1);
    padding: 1rem;
}

.articles-container {
    /*display: flex;
    flex-direction: column;*/
    border: 2px solid darkgreen;
    padding: 20px
}

.verbage {
    color: #264653;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    text-align: left;
    padding: 1em;
}
