
/* Imports */
@import 'nav-bar.css';

/* Global */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: none;
}

article {
  display: flex;
  flex-direction: column;
}

body {
  padding: 1em;
  margin: 25px;
  font-family: 'Krona One', sans-serif;
  font-size: 1rem;
  width: 90%;
  height: 100fr;
  align-content: center;
  justify-content: center;
}

figcaption {
  text-align: center;
  margin-bottom: 1rem;
}

img {
  margin-top: 1rem;
}

.form-submit-button {
  margin-top: 1rem;
  background: #bbb;
  border-style: outset;
  border-color: #0066A2;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px black;
  padding: 0 2rem;
}

.image-container {
  width: 40%;
  height: auto;
}

.verbage {
  color: #264653;
  text-align: left;
  padding: 1em;
}

#pagetitle {
  font-family: cursive;
  color: #a6f6f1;
  text-shadow: 2px 2px #000;
}

#pagetagline {
  color: #a6f6f1;
  text-shadow: 2px 2px #000;
}

/* Grid-areas */

header {
  grid-area: head;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 0;
  background-image: url('../images/badlands-slim.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  object-fit: contain;
}

/* Footer Styling */
.footer {
  display: flex;
  align-items: center;
  background-color: #e76f51;
  grid-area: ft;
}

.content-container {
  /*TODO REMOVE display: flex;
  flex-direction: column;*/
  grid-area: ct;
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(225deg, #264653, 10%, lightgreen, #a6f6f1);
  padding: 1rem;
  overflow: hidden;
}

/* Basic Grid Container */
.grid-container {
  box-sizing: border-box;
  border-color: darkred;
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-gap: 2em;

  margin: 0vh;
  line-height: normal;
  padding: 10px;
  /*width: 100%;*/
  height: auto;
  align-content: center; /*Main axis*/
  justify-content: center; /*Cross axis*/
}

/* Don't display anything under a certain size */
@media screen and (min-width: 1px) and (max-width: 359px) {
  .grid-container {
    display: none;
  }
  .sidebar {
    display: none;
  }
}

/* Phone */
@media screen and (min-width: 360px) {

  .form-submit-button {
    font-size: 1rem;
  }

  .navbar a, .dropdown .dropbutton {
    font-size: 1.5rem;
  }

  #pagetitle {
    font-size: 2.75vw;
  }

  #pagetagline {
    font-size: 2.0vw;
  }

  .all-card-content {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    'head'
    'nav'
    'ct'
    'ft';
  }
}

/* Tablet */
@media screen and (min-width: 800px) {

  .form-submit-button {
    font-size: 1.5rem;
  }

  .navbar a, .dropdown .dropbutton {
    font-size: 1.5rem;
  }

  #pagetitle {
    font-size: 3.5vw;
  }

  #pagetagline {
    font-size: 2.0vw;
  }

  .all-card-content {
    flex-direction: column;
  }

  .sidebar {
    display: block;
    font-size: 1.0rem;
  }

  body {
    font-size: 1.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
    'head head'
    'nav sidebar'
    'ct sidebar'
    'ft ft';
    grid-template-columns: 80% 20%;
    grid-template-rows: 20vh 7vh 1fr 7vh;
    grid-gap: 0em;
  }
}

/* Web */
@media screen and (min-width: 1100px) {

  .form-submit-button {
    font-size: 2rem;
  }

  .navbar a, .dropdown .dropbutton {
    font-size: 2.5rem;
  }

  .sidebar {
    font-size: 1.5rem;
  }

  .all-card-content {
    flex-direction: row;
  }

  #pagetitle {
    font-size: 3.5vw;
  }

  #pagetagline {
    font-size: 1.25vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35vh 7vh 1fr 7vh;
    grid-gap: 1vh;
    grid-template-areas:
    'head head'
    'nav sidebar'
    'ct sidebar'
    'ft ft';
    margin: 0vh;
    line-height: normal;
    padding: 10px;
    width: 100%;
    height: auto;
    align-content: center; /*Main axis*/
    justify-content: center; /*Cross axis*/
  }
}
