

/* New  Navigation bar */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 1.5rem;
  color:white;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  padding: 1rem 1.5rem;
  /*background-color: inherit;*/
  font-family: inherit;
  margin: 0
}

.navbar a:hover, .dropdown:hover .dropbutton {
  background-color: orange;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1rem 1.4rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* TODO REMOVE old nav bar */
/*
ul.navbar {
    dislay: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #264653;
    grid-area: nav;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
*/
