* {
  box-sizing: border-box;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;

  display: grid;
  grid-template-columns: 500px 1fr 2fr;
}

.box {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}
